/* Sticky footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Archivo', sans-serif;
  color: #212121;
}

main {
  flex: 1 0 auto;
}

/* Global styles */
.containers {
  margin-top: 32px;
  margin-bottom: 32px;
}

/* Comment modal */
.modal-content .comment-title {
  display: flex;
  margin-left: -8px;
}

.modal-content .comment-date {
  line-height: 1.4rem;
  font-size: 12px;
  font-weight: 500;
  color: #757575;
}

@media only screen and (min-width: 720px) {
  /* Global styles */
  .containers {
    margin-top: 64px;
    margin-bottom: 64px;
  }
  
  /* Modal */
  .modal-content.container {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 400px) {

  /* Modal */
  .modal-content h4 {
    font-size: 2rem;
  }
}
