/* Sticky footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Archivo', sans-serif;
  color: #212121;
}

main {
  flex: 1 0 auto;
}

/* Global styles */
.containers {
  margin-top: 32px;
  margin-bottom: 32px;
}

@media only screen and (min-width: 720px) {
  /* Global styles */
  .containers {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
