/* Sticky footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Archivo', sans-serif;
  color: #212121;
}

main {
  flex: 1 0 auto;
}

/* Global styles */
.containers {
  margin-top: 32px;
  margin-bottom: 32px;
}

/* Image panel */
.panel-image {
  overflow: hidden;
  max-height: 400px;
}

/* Articles */
.collection .collection-item.avatar {
  padding: 20px;
}

.collection .collection-item.avatar .title {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
}

.collection .collection-byline,
.collection .collection-date {
  display: inline-block;
  line-height: 1.4rem;
  font-size: 12px;
  font-weight: 500;
  color: #757575;
}

.collection .collection-byline {
  margin-top: 8px;
}

.fixed-action-btn.horizontal ul {
  top: 44%;
  right: 50px;
  margin-top: 4px;
}

.no-saved-articles {
  padding: 0 8px;
}

/* Comment modal */
.modal-content .comment-title {
  display: flex;
  margin-left: -8px;
}

.modal-content .comment-date {
  line-height: 1.4rem;
  font-size: 12px;
  font-weight: 500;
  color: #757575;
}

@media only screen and (min-width: 720px) {
  /* Global styles */
  .containers {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  /* Articles */
  .collection .collection-item.avatar {
    display: flex;
  }

  .collection .collection-item.avatar img {
    max-height: 140px;
    margin-right: 16px;
  }

  .collection-text {
    padding-right: 48px;
  }

  .fixed-action-btn.horizontal ul {
    top: 39%;
  }

  /* Modal */
  .modal-content.container {
    padding-top: 30px;
  }
}

@media only screen and (min-width: 880px) {
  .fixed-action-btn.horizontal ul {
    top: 37%;
  }
}

@media only screen and (max-width: 400px) {

  /* Modal */
  .modal-content h4 {
    font-size: 2rem;
  }
}
